@model Turnos.Models.Medico




<h4>Médico</h4>
<hr />
<div class="row">
    <div class="col s12 m6">
        <div class="card hoverable blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">
                    <h5> <b> @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model =>
                            model.Apellido)</b></h5>
                </span>
                <hr />
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion) : @Html.DisplayFor(model =>
                        model.Direccion)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(model =>
                        model.Telefono)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.HorarioAtencionDesde) : @Html.DisplayFor(model
                        => model.HorarioAtencionDesde)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.HorarioAtencionHasta) : @Html.DisplayFor(model
                        =>
                        model.HorarioAtencionHasta)
                    </dt>

                </dl>
            </div>
            <div class="card-action blue-grey darken-1">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdMedico" />
                    <a type="submit" value="Eliminar" class="waves-effect waves-light btn-small blue-grey lighten-2"
                        asp-action="Edit" asp-route-id="@Model.IdMedico">Editar</a>
                    <a class="waves-effect waves-light btn-small blue-grey lighten-2 right"
                        asp-action="Index">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div>
  